<header th:fragment="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <nav class="navbar mh-navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/onlinemarket/public/home}">
                <i class="fa-solid fa-store brand-icon"></i>MarketHub
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                    aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color:rgba(255,255,255,0.7)"></i>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav me-auto align-items-lg-center gap-1">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/onlinemarket/secured/services}">
                            <i class="fa-solid fa-gauge-simple-high"></i>Dashboard
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ROLE_BUYER') or hasAuthority('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/onlinemarket/secured/services/products/list}">
                            <i class="fa-solid fa-boxes-stacked"></i>Products
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ROLE_SELLER')" class="nav-item">
                        <a class="nav-link" th:href="@{/onlinemarket/secured/services/products/my-products}">
                            <i class="fa-solid fa-tag"></i>My Products
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/onlinemarket/secured/services/users/sellers}">
                            <i class="fa-solid fa-user-check"></i>Sellers
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/onlinemarket/secured/services/admin/usrmgmt/list}">
                            <i class="fa-solid fa-users"></i>Users
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto align-items-lg-center gap-2 ms-lg-3">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <span class="username-pill">Welcome, Guest</span>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <span class="username-pill">
                            <i class="fa-regular fa-circle-user me-1"></i>
                            <sec:authentication property="principal.username"/>
                        </span>
                    </li>
                    <li sec:authorize="hasAuthority('ROLE_BUYER')" class="nav-item">
                        <a class="nav-link position-relative" th:href="@{/onlinemarket/cart/me}">
                            <i class="fa-solid fa-cart-shopping"></i>Cart
                            <span th:if="${cartItemCount != null and cartItemCount > 0}"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                  style="font-size:0.6rem;"
                                  th:text="${cartItemCount}"></span>
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a th:href="@{/onlinemarket/public/signup}" class="btn btn-nav-outline">
                            Sign Up
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a th:href="@{/onlinemarket/public/login}" class="btn btn-nav-primary">
                            Sign In
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/onlinemarket/public/logout}" class="btn btn-nav-outline">
                            <i class="fa-solid fa-right-from-bracket me-1"></i>Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
